<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="EclipseGraphviz dependencies" sequenceNumber="4">
<locations>

		<location includeAllPlatforms="false" includeMode="planner"
			includeSource="true" type="InstallableUnit">
            <unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
            <unit id="org.apache.commons.lang" version="0.0.0"/>
            <unit id="org.apache.commons.io" version="0.0.0"/>
            <unit id="org.apache.commons.beanutils" version="0.0.0"/>
			<unit id="org.junit" version="0.0.0" />
			<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0" />
			
            <!-- Specific release to avoid Eclipse bug 430375 -->
			<repository location="http://download.eclipse.org/releases/mars/201602261000/" />
		</location>


</locations>
</target>
