<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="dot"
            id="com.abstratt.graphviz.dot"
            name="DOT file">
      </content-type>
   </extension>
</plugin>
