<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.abstratt.content.contentProvider">
      <provider
            class="com.abstratt.graphviz.ui.DOTGraphicalContentProvider">
         <association
               contentType="com.abstratt.graphviz.dot">
         </association>
         <reader
               class="com.abstratt.imageviewer.FileToByteArrayContentReader">
         </reader>
      </provider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.abstratt.graphviz.ui.GraphVizPreferencePage"
            id="com.abstratt.graphviz.ui.GraphVizPreferencePage"
            name="Graphviz">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="com.abstratt.graphviz.ui.graphicalViewActions"
            targetID="com.abstratt.imageviewer.GraphicalView">
         <action
               class="com.abstratt.graphviz.ui.RenderClipboardAction"
               icon="icons/paste_edit.gif"
               id="com.abstratt.imageviewer.renderClipboard"
               label="Render DOT from clipboard"
               style="push"
               toolbarPath="clipboard_actions"
               tooltip="Render DOT contents from the clipboard as image">
         </action>
      </viewContribution>
   </extension>


</plugin>
